@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

$light: #F3E5F3;
$lightAcc: #ACA8F3;
$main: #4758CE;
$darkAcc: #161457;
$dark: #0F0F17;

* {
  font-family: 'Montserrat', sans-serif;
}

.body{
  height: 100vh;
  
  background-image: url("./images/bg2.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(243, 229, 243, 0.5);
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Tangerine', cursive;
}

.navbar{
  background-color: $darkAcc;
  color: $light;
  display: flex;
  justify-content:space-evenly;
  a{
    color: $light;
    &:hover, &:focus{
      color: $lightAcc;
    }
  }
  .dropdown-item{
    color: $dark;
    &:hover, &:focus{
      color: $darkAcc;
    }
  }

}

.homepage{
  height: 80vh;
  color: $darkAcc;
  h1{
    font-size: 7rem;
  }
  .countdownContainer{
    background-color: $main;
    color: $light;
    width: 30%;
    border-radius: 100px;
    h4{
      font-size: 3rem;
    }
    .countdown{
      font-size: 3rem;
    }
  }
}