@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

.body {
  min-height: 100vh;
  background-image: url("./images/bg6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tangerine', cursive;
}

input {
  border: none;
}

.page-header {
  font-size: 4rem;
  padding-top: 20px;
}

.button {
  background-color: #ACA8F3;
  color: #161457;
  border: none;
  border-radius: 10px;
  padding: 8px;
}

.navbar {
  background-color: #161457;
  color: #F3E5F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar a {
  color: #F3E5F3;
}

.navbar a:hover, .navbar a:focus {
  color: #ACA8F3;
}

.navbar .dropdown-item {
  color: #0F0F17;
}

.navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
  color: #161457;
}

.styled-div {
  background-color: rgba(243, 229, 243, 0.8);
  border: #ACA8F3 2px solid;
  border-radius: 20px;
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage {
  height: 80vh;
  color: #4758CE;
}

.homepage h1 {
  font-size: 7rem;
}

.homepage .countdownContainer {
  background-color: #4758CE;
  background-color: rgba(71, 88, 206, 0.7);
  border: #4758CE 2px solid;
  color: #F3E5F3;
  width: 350px;
  border-radius: 100px;
}

.homepage .countdownContainer h4 {
  font-size: 3rem;
}

.homepage .countdownContainer .countdown {
  font-size: 3rem;
}

.loginpage a {
  font-size: 1rem;
}

.wishlist {
  color: #161457;
}

.wishlist .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
}

.wishlist .list-container p {
  font-size: 0.9rem;
}

.wishlist .gifts {
  font-size: 1.2rem;
  padding: 5px;
  /* input[type='checkbox']{
      box-shadow: none;
      color: $main;
    } */
}

.wishlist .gifts .checkbox:checked:before {
  background-color: green;
}

.wishlist-other-gifts {
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
}

.wishlist-other-gifts .styled-div {
  margin-top: 0;
  width: 100%;
}

.wishlist-other-gifts input {
  width: 70%;
}

.wishlist-other-gifts button {
  width: 25%;
}

.registration div {
  width: 90%;
  margin: auto;
}

.registration span {
  max-width: 40%;
  min-width: 20%;
}

.registration a {
  color: #4758CE;
}

.registration a:hover, .registration a:focus {
  color: #ACA8F3;
}

.reg-form {
  width: 80%;
}

.reg-form .form-group {
  margin: 10px;
}

.reg-form .form-group .form-check-input:checked {
  background-color: #4758CE;
  border-color: #4758CE;
}
/*# sourceMappingURL=style.css.map */