@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.body {
  min-height: 100vh;
  background-image: url("./images/bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tangerine", cursive;
}

input {
  border: none;
}

.page-header {
  font-size: 4rem;
  padding-top: 20px;
}

.button {
  background-color: #aca8f3;
  color: #161457;
  border: none;
  border-radius: 10px;
  padding: 8px;
}

.nav {
  background-color: #161457;
  color: #f3e5f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .dropdown-item {
  color: #0f0f17;
}

.nav .dropdown-item:hover, .nav .dropdown-item:focus {
  color: #161457;
}

.nav .nav-home {
  text-decoration: none;
  font-size: 1.2rem;
  color: #f3e5f3;
}

.nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 25px;
  margin: 0;
}

.nav-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.nav-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #f3e5f3;
}

.nav-menu li a:hover, .nav-menu li a:focus {
  color: #aca8f3;
}

.styled-div {
  background-color: rgba(243, 229, 243, 0.8);
  border: #aca8f3 2px solid;
  border-radius: 20px;
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
}

.d-grid-40-60 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.d-grid-60-40 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage {
  height: 80vh;
  color: #4758ce;
}

.homepage h1 {
  font-size: 7rem;
}

.homepage .countdownContainer {
  background-color: #4758ce;
  background-color: rgba(71, 88, 206, 0.7);
  border: #4758ce 2px solid;
  color: #f3e5f3;
  width: 350px;
  border-radius: 100px;
}

.homepage .countdownContainer h4 {
  font-size: 3rem;
}

.homepage .countdownContainer .countdown {
  font-size: 3rem;
}

.loginpage a {
  font-size: 1rem;
}

.wishlist {
  color: #161457;
}

.wishlist .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
}

.wishlist .list-container p {
  font-size: 0.9rem;
}

.wishlist .gifts {
  font-size: 1.2rem;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  /* input[type='checkbox']{
      box-shadow: none;
      color: $main;
    } */
}

.wishlist .gifts .row-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr;
      grid-template-columns: 1fr 8fr;
}

.wishlist .gifts .row-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.wishlist .gifts .checkbox:checked:before {
  background-color: green;
}

.wishlist-other-gifts {
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
}

.wishlist-other-gifts .styled-div {
  margin-top: 0;
  width: 100%;
}

.wishlist-other-gifts input {
  width: 70%;
}

.wishlist-other-gifts button {
  width: 25%;
}

.registration div {
  width: 90%;
  margin: auto;
}

.registration span {
  max-width: 40%;
  min-width: 20%;
}

.registration a {
  color: #4758ce;
}

.registration a:hover, .registration a:focus {
  color: #aca8f3;
}

.registration .answers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.reg-form {
  width: 80%;
}

.reg-form .form-group {
  margin: 10px;
}

.reg-form .form-group .form-check-input:checked {
  background-color: #4758ce;
  border-color: #4758ce;
}

.weddingday img, .hotels img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.directions .map {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.fa-bars {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #161457;
  color: #f3e5f3;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.fa-bars:hover {
  background-color: #4758ce;
}

@media screen and (max-width: 991px) {
  .wishlist .row-1, .wishlist .row-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8fr;
        grid-template-columns: 1fr 8fr;
  }
}

@media screen and (max-width: 770px) {
  .fa-bars {
    display: block;
  }
  .nav-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #161457;
    border-top: 1px solid black;
    display: none;
  }
  .nav-menu .expanded {
    display: block;
  }
  .nav-menu li {
    text-align: center;
    margin: 0;
  }
  .nav-menu li a {
    color: #f3e5f3;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.2rem;
  }
  .nav-menu li:hover {
    background-color: #4758ce;
  }
  .homepage h1 {
    width: 100%;
    font-size: 15vw;
    text-align: center;
  }
  .homepage .countdownContainer {
    width: 70%;
    border-radius: 100px;
  }
  .homepage .countdownContainer h4 {
    font-size: 7vw;
  }
  .homepage .countdownContainer .countdown {
    font-size: 7vw;
  }
  .d-grid-40-60, .d-grid-60-40 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .hotels .info {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .hotels .pic {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

@media screen and (max-width: 500px) {
  .homepage h1 {
    width: 100%;
    font-size: 5rem;
    text-align: center;
  }
  .homepage .countdownContainer {
    width: 80%;
    border-radius: 100px;
  }
  .homepage .countdownContainer h4 {
    font-size: 2rem;
  }
  .homepage .countdownContainer .countdown {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */